.h1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.pageHeader {
  width: 531px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-3xs);
  box-sizing: border-box;
  max-width: 100%;
}
.span {
  color: var(--color-gray-300);
}
.p {
  margin: 0;
}
.span1 {
  color: var(--color-gray-300);
}
.h11,
.p1 {
  margin: 0;
}
.h11 {
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.span2 {
  color: var(--color-gray-300);
}
.p2 {
  margin: 0;
}
.span3 {
  color: var(--color-gray-300);
}
.p3 {
  margin: 0;
}
.div1 {
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 29px;
  font-weight: 500;
  font-family: var(--font-montserrat);
  display: inline-block;
  max-width: 100%;
  color: var(--color-gray-100);
}
.imageColumn {
  width: 915px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  max-width: 100%;
}
.h12 {
  margin: 0;
  height: 152px;
  width: 99px;
  position: relative;
  font-size: var(--font-size-181xl);
  font-weight: 400;
  font-family: inherit;
  color: var(--color-gainsboro-100);
  display: inline-block;
}
.div,
.imageGallery,
.imageRow {
  display: flex;
  align-items: flex-start;
}
.imageRow {
  width: 1224px;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.div,
.imageGallery {
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-26xl);
  font-family: var(--font-sangbleu-sunrise);
}
.imageGallery {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  max-width: 100%;
  color: var(--color-darkorange);
}
.div {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-56xl) 0 var(--padding-90xl);
  gap: var(--gap-41xl);
  line-height: normal;
  letter-spacing: normal;
  color: var(--color-gray-300);
}
@media screen and (max-width: 1125px) {
  .imageRow {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 800px) {
  .h1,
  .h11 {
    font-size: var(--font-size-17xl);
  }
  .h12 {
    font-size: var(--font-size-61xl);
  }
  .div {
    gap: var(--gap-11xl);
  }
}
@media screen and (max-width: 450px) {
  .h1,
  .h11 {
    font-size: var(--font-size-8xl);
  }
  .div1 {
    font-size: var(--font-size-base);
    line-height: 23px;
  }
  .imageColumn {
    gap: var(--gap-xl);
  }
  .h12 {
    font-size: var(--font-size-31xl);
  }
}
