.ellipseIcon {
  position: absolute;
  top: -336px;
  left: -88.7px;
  width: 1873.7px;
  height: 1713px;
}
.div1,
.header {
  position: absolute;
  width: 640.2px;
}
.div1 {
  top: 0;
  left: calc(50% - 320.1px);
  white-space: pre-wrap;
  display: inline-block;
}
.header {
  top: 75px;
  left: calc(50% - 415.8px);
  height: 34px;
}
.image5Icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 336px;
  flex-shrink: 0;
  object-fit: cover;
}
.div3 {
  width: 190px;
  position: absolute;
  margin: 0 !important;
  top: 281px;
  left: 40px;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.closeUpWomanRelaxingSaunaIcon,
.div2 {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 336px;
}
.div2 {
  border-radius: var(--br-16xl);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 313.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.closeUpWomanRelaxingSaunaIcon {
  width: 355px;
  margin: 0 !important;
  max-width: 100%;
  flex-shrink: 0;
  object-fit: cover;
}
.div4,
.div5 {
  position: absolute;
}
.div5 {
  width: 91px;
  margin: 0 !important;
  top: 281px;
  left: 40px;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.div4 {
  top: 381px;
  left: 0;
  border-radius: var(--br-16xl);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 313.5px;
  height: 336px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.wellnessConceptWithWomanWiIcon {
  width: 355px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 0;
  height: 336px;
  object-fit: cover;
}
.div7 {
  width: 89px;
  position: absolute;
  margin: 0 !important;
  top: 281px;
  left: 40px;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.assortmentDifferentDeliciousIcon,
.div6 {
  position: absolute;
  overflow: hidden;
  height: 336px;
}
.div6 {
  top: 381px;
  left: 706.4px;
  border-radius: var(--br-16xl);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 313.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.assortmentDifferentDeliciousIcon {
  width: 355px;
  margin: 0 !important;
  top: 0;
  left: 0;
  max-width: 100%;
  flex-shrink: 0;
  object-fit: cover;
}
.div8,
.div9 {
  position: absolute;
}
.div9 {
  width: 68px;
  margin: 0 !important;
  top: 281px;
  left: 40px;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.div8 {
  top: 381px;
  left: 353.2px;
  border-radius: var(--br-16xl);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 313.5px;
  height: 336px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.image4Icon {
  width: 355px;
  top: 0;
  left: 0;
  height: 336px;
  object-fit: cover;
}
.button,
.div11,
.div12,
.image4Icon {
  position: absolute;
  margin: 0 !important;
}
.div11 {
  width: 180px;
  top: calc(50% - 5px);
  left: calc(50% - 89.5px);
  letter-spacing: 0.1em;
  font-weight: 500;
  display: inline-block;
}
.button,
.div12 {
  left: 40px;
  z-index: 1;
}
.button {
  width: 281px;
  top: 230px;
  border-radius: var(--br-4xs);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  height: 66px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.div12 {
  width: 235px;
  top: 190px;
  font-size: var(--font-size-3xl);
  font-weight: 500;
  display: inline-block;
}
.div10,
.image8Icon {
  top: 0;
  overflow: hidden;
  height: 336px;
}
.div10 {
  position: absolute;
  left: 353.2px;
  border-radius: var(--br-16xl);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 313.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-sm);
}
.image8Icon {
  width: 355px;
  margin: 0 !important;
  left: 0;
  max-width: 100%;
  flex-shrink: 0;
  object-fit: cover;
}
.div13,
.div14,
.image8Icon {
  position: absolute;
}
.div14 {
  width: 270px;
  margin: 0 !important;
  top: 281px;
  left: 40px;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.div13 {
  top: 0;
  left: 706.4px;
  border-radius: var(--br-16xl);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 313.5px;
  height: 336px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.ecoFriendlyCleaningProductsIcon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 336px;
  flex-shrink: 0;
  object-fit: cover;
}
.div15,
.div16 {
  position: absolute;
}
.div16 {
  width: 202px;
  margin: 0 !important;
  top: 254px;
  left: 40px;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.div15 {
  top: 0;
  left: 1059.6px;
  border-radius: var(--br-16xl);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 313.5px;
  height: 336px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  opacity: 0.3;
}
.image9Icon {
  width: 355px;
  margin: 0 !important;
  top: 0;
  left: 0;
  height: 336px;
  object-fit: cover;
}
.div17,
.div18,
.image9Icon {
  position: absolute;
}
.div18 {
  width: 45px;
  margin: 0 !important;
  top: 281px;
  left: 40px;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.div17 {
  top: 381px;
  left: 1059.6px;
  border-radius: var(--br-16xl);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 313.5px;
  height: 336px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  opacity: 0.3;
}
.contentCard {
  position: absolute;
  top: 187px;
  left: 304.2px;
  width: 1373.1px;
  height: 717px;
  font-size: var(--font-size-3xl);
  font-family: var(--font-montserrat);
}
.vectorIcon {
  width: 10px;
  position: relative;
  height: 18px;
  object-fit: contain;
}
.div20 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 53px;
  height: 60px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-2xl) var(--padding-6xl);
}
.vectorIcon1 {
  width: 10px;
  position: relative;
  height: 18px;
}
.div19,
.div21 {
  position: absolute;
  height: 60px;
}
.div21 {
  top: 0;
  left: 88.3px;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 53px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-2xl) var(--padding-6xl);
}
.div19 {
  top: 62px;
  left: 1243.7px;
  width: 141.3px;
}
.div {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-400);
  height: 1021px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-26xl);
  color: var(--color-white);
  font-family: var(--font-sangbleu-sunrise);
}
