.bulletIcon,
.h3 {
  position: relative;
}
.h3 {
  margin: 0;
  font-size: inherit;
  line-height: 19px;
  font-weight: 600;
  font-family: inherit;
}
.bulletIcon {
  font-weight: 500;
}
.bulletPoint {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.svgStarsIcon {
  align-self: stretch;
  height: 18px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.ratingIcon {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs) 0 0;
}
.div {
  position: relative;
  line-height: 12px;
  font-weight: 500;
}
.reviewCount {
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
}
.hallDetails,
.hallFeatures,
.reviewCount {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.hallFeatures {
  width: 282px;
  flex-direction: row;
  gap: var(--gap-xs);
  font-size: var(--font-size-mid);
  color: var(--color-gray-100);
}
.hallDetails {
  flex-direction: column;
  gap: var(--gap-5xl);
}
.p,
.p1 {
  margin: 0;
}
.div1 {
  position: relative;
  font-size: var(--font-size-lgi);
  line-height: 28px;
  font-weight: 500;
}
.personIcon {
  height: 32px;
  width: 25px;
  position: relative;
}
.div2 {
  position: relative;
  font-weight: 500;
}
.maxCapacity,
.personIconParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.maxCapacity {
  flex-direction: column;
  padding: var(--padding-4xs) 0 0;
}
.personIconParent {
  flex-direction: row;
  gap: var(--gap-lg);
}
.hourlyRateIcon {
  height: 32px;
  width: 32px;
  position: relative;
}
.div3 {
  height: 13px;
  position: relative;
  font-weight: 500;
  display: inline-block;
}
.bookingButton,
.hallPricing,
.priceIcon {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.bookingButton {
  flex-direction: column;
  padding: var(--padding-4xs) 0 0;
}
.hallPricing,
.priceIcon {
  flex-direction: row;
  gap: var(--gap-lg);
}
.hallPricing {
  gap: var(--gap-8xl);
  max-width: 100%;
  font-size: var(--font-size-lg);
  color: var(--color-gray-100);
}
.div4 {
  position: relative;
  letter-spacing: 0.1em;
  font-weight: 500;
}
.button,
.hallItem {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button {
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-gray-300);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-6xl) var(--padding-42xl) var(--padding-6xl)
    var(--padding-43xl);
  font-size: var(--font-size-base);
}
.hallItem {
  margin-left: -494px;
  flex-direction: column;
  gap: var(--gap-11xl-3);
  flex-shrink: 0;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-8xl);
  color: var(--color-gray-300);
  font-family: var(--font-montserrat);
}
@media screen and (max-width: 450px) {
  .h3 {
    font-size: var(--font-size-3xl);
  }
  .hallPricing {
    flex-wrap: wrap;
  }
  .button {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .hallItem {
    gap: var(--gap-mini);
  }
}
